<div class="item-sheet-body">

  <div class="item-sheet-field">
    <span class="mazes-label">NAME</span>
    <input type="text" name="name" value="{{item.name}}" />
  </div>

  <div class="item-sheet-field">
    <span class="mazes-label">DESCRIPTION</span>
    <textarea name="system.description">{{system.description}}</textarea>
  </div>

</div>
